<% content_for :header_content do %>
  <div class="d-flex flex-column">
    <h3 class="mb-0 fw-bold"><%= t(:dashboard) %></h3>
    <%= render 'partial_breadcrumb' %>
  </div>
<% end %>

<div class="p-3 overflow-auto" id="main-body-scrolleable">
  <div class="card">
    <div class="card-body bg-200">
      ADMIN INDEX
    </div>
  </div>
</div>