<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="line-height: 36px;"><%= link_to 'Change my password', api_v1_auth_reset_password_url(reset_password_token: @token), style: "background-color:#3d37e2; padding:10px 20px; border-radius:2rem; color: #FFF; text-decoration: none; font-weight: bold; font-size: 0.9rem;" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
