<div class="col-12 col-md-6 col-lg-4">
  <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-3">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h3>Reset Password</h3>
        <p class="text-center">Try to open this link with a device with the app installed.</p>
      </div>
    </div>
  </div>
</div>
