<div class="modal fade" id="modal-form-entity" tabindex="-1">
  <%= turbo_frame_tag "form-entity" %>
</div>

<div class="modal fade" id="modal-form-entity-two" tabindex="-1">
  <%= turbo_frame_tag "form-entity-two" %>
</div>
